@media (max-width: 992px){
    .toggle{
        display: block;
    }
    .logo-and-toggle{
        padding-left: 10px;
    }
    .navmenu-area{
        position: relative;
        z-index: 999999999999999;
    }
    .navitem-area{
       display: none;
    }
    .navitemlist{
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        position: absolute;
        top: 60px;
        left: 0;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(5px);
        padding: 30px 50px;
        border-radius: 20px;
        animation: navitem .5s ease;

    }
    @keyframes navitem {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0);
        }
    }
}